{{ define "main" }}

<section class="section-sm pb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2>{{ .Title | markdownify }}</h2>
        <div class="content mb-4">
          {{ .Content }}
        </div>
        <div class="row">
          <div class="col-lg-4 small-post-border">
            <i class="ti-mobile h1 text-primary"></i>
            <h5 class="font-weight-light my-3">Phone</h5>
            {{ .Site.Params.mobile }}
          </div>
          <div class="col-lg-4 small-post-border">
            <i class="ti-email h1 text-primary"></i>
            <h5 class="font-weight-light my-3">Email</h5>
            {{ .Site.Params.email }}
          </div>
          <div class="col-lg-4 small-post-border">
            <i class="ti-location-pin h1 text-primary"></i>
            <h5 class="font-weight-light my-3">Location</h5>
            {{ .Site.Params.location | markdownify }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section-sm pb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mb-4">Hi Write To Me</h2>
        <form action="#" method="POST" class="row">
          <div class="col-lg-6">
            <input type="text" class="form-control mb-4" id="name" name="name" placeholder="Your Name">
          </div>
          <div class="col-lg-6">
            <input type="email" class="form-control mb-4" id="email" name="email" placeholder="Your Email">
          </div>
          <div class="col-12">
            <input type="text" class="form-control mb-4" id="subject" name="subject" placeholder="Subject">
          </div>
          <div class="col-12">
            <textarea name="message" id="message" class="form-control mb-4" placeholder="Your Message"></textarea>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">send message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<script src="https://d2um70ufr4wbsl.cloudfront.net/lex-web-ui-loader.min.js"></script>
<script>
  var loaderOpts = {
    baseUrl: 'https://d2um70ufr4wbsl.cloudfront.net/',
    shouldLoadMinDeps: true
  };
  var loader = new ChatBotUiLoader.IframeLoader(loaderOpts);
  
  var chatbotUiConfig = {
      // if the iframe page is hosted on a different site,
      // you should configure the parentOrigin and iframeOrigin
    ui: {
          // origin of the parent site where you are including the chatbot UI
          parentOrigin: 'https://master.d31l63zj7ey1hm.amplifyapp.com'
        },
        iframe: {
          // origin hosting the HTML file that will be embedded in the iframe
         iframeOrigin: 'https://d2um70ufr4wbsl.cloudfront.net'
        },
        lex: {
            sessionAttributes: {
              userAgent: navigator.userAgent,
              QNAClientFilter: ''
            }
          }
       
      };

      // load the iframe
      loader.load(chatbotUiConfig)
        .then(function () {
           // at this point the API is available
           // so I can send a ping to the iframe
           loader.api.ping();

          // perform actions on the parent dependent on the chatbot
          // loading. For example, enable the send button once the
          // chatbot UI is loaded
          $('#send-intent').prop('disabled', false);

        })
        .catch(function (error) {
          console.error('chatbot UI failed to load', error);
        });
    
</script>
{{ end }}